<div class="main shorten">
  <form action="/convert" method="post">
    <input type="text" name="originURL" id="origin" maxlength="120" placeholder="Input URL here" required>
    <button type="submit">Shorten</button>
  </form>
</div>