<div class="main result">
  <h4 class="result-subtitle">Success! Please use this link :</h4>
  <div class="resultBox">
    <input type="text" class="resultURL" value="{{shortener}}" readonly="readonly">
    <button id="copy-result">Copy</button>
  </div>
</div>